<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gestor de Tarefas</title>
    <link rel="stylesheet" href="~/css/EstiloSite.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-pO1gqI7ZyZr6Rm3HnGmX7ZP1HuY7a8CkC+ZMj50Y1+YHQ6dOeB7wY5Nl+s3fX6t9Kp0aR7xV6u2s7tM3e+9bZQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
