<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gestor de Tarefas</title>
    <link rel="stylesheet" href="~/css/EstiloSite.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
