<link rel="stylesheet" href="~/css/site.css" />

<h1>Criar Tarefa</h1>
<form>
    <label>Título</label>
    <input type="text" />
    <br />
    <label>Descrição</label>
    <textarea></textarea>
    <br />
    <button type="submit">Salvar</button>
</form>
